@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 10px;
}
main .contenedor-main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(203, 196, 196);
  text-align: center;
}
main .contenedor-main-index .titulo-main-index {
  margin: 4px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  color: rgba(245, 245, 245, 0.493);
}
main .contenedor-main-index .titulo-main-index span {
  color: rgba(255, 0, 0, 0.508);
}
@media screen and (min-width: 1024px) {
  main .contenedor-main-index .titulo-main-index {
    font-size: 3rem;
  }
}
main .contenedor-main-index .bloque-uno-main-index div div div img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 20px;
  padding: 10PX;
  opacity: 0.7;
}
main .contenedor-main-index .bloque-dos-main-index, main .contenedor-main-index .bloque-cuatro-main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(203, 196, 196);
  text-align: center;
  padding: 3px;
}
main .contenedor-main-index .bloque-dos-main-index p span, main .contenedor-main-index .bloque-cuatro-main-index p span {
  color: red;
}
main .contenedor-main-index .bloque-dos-main-index .estampas-index, main .contenedor-main-index .bloque-cuatro-main-index .estampas-index {
  width: 20%;
}
main .contenedor-main-index .bloque-tres-main-index .imagenes-index {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 20px;
  padding: 10PX;
  background-color: rgba(255, 0, 0, 0.508);
}
.contenedor-nosotros-main .bloque-cuatro-nosotros {
  display: none;
}
.contenedor-nosotros-main .bloque-uno-nosotros img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 20px;
  padding: 10PX;
  width: 100%;
}
.contenedor-nosotros-main .bloque-dos-nosotros {
  padding: 10px;
}
.contenedor-nosotros-main .bloque-dos-nosotros li {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "estampa servicio" "descripcion descripcion";
}
.contenedor-nosotros-main .bloque-dos-nosotros li img {
  position: relative;
  display: inline-block;
  grid-area: estampa;
  width: 1rem;
}
.contenedor-nosotros-main .bloque-dos-nosotros li h3 {
  font-size: 1rem;
  text-decoration: underline;
  text-align: start;
  grid-area: servicio;
  color: white;
}
.contenedor-nosotros-main .bloque-dos-nosotros li p {
  font-size: 0.8rem;
  grid-area: descripcion;
  color: rgb(203, 196, 196);
}

.bloque-tres-nosotros img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 20px;
  padding: 10PX;
  width: 100%;
}

.contenedor-main-depositos .contenedor-depositos {
  border-style: dashed;
  color: #ED1C24;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos {
  width: 100%;
  text-align: center;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos h2 {
  color: whitesmoke;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos h2 span {
  background-color: rgba(237, 28, 35, 0.2431372549);
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos ul {
  text-align: start;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos ul li {
  list-style: none;
  color: white;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos ul li span {
  color: red;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .bloque-mapa-depositos {
  color: white;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .bloque-mapa-depositos iframe {
  width: 100%;
  height: 100%;
  border-color: #ED1C24;
  background-color: rgba(237, 28, 35, 0.2431372549);
  padding: 20px;
  border-radius: 30px;
}

.contenido-main-clientes {
  color: rgb(203, 196, 196);
  text-align: center;
  padding: 3px;
}
.contenido-main-clientes p span {
  color: red;
}
.contenido-main-clientes .contenedor-carrusel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/clientes-mano.jfif);
  background-size: 100%;
  opacity: 0.8;
  border-radius: 20px;
  border-style: double;
  border-color: rgba(255, 0, 0, 0.508);
  margin-top: 70px;
}
.contenido-main-clientes .contenedor-carrusel div div div img {
  filter: brightness(1.5);
}

.main-contactos form {
  background-color: rgba(255, 0, 0, 0.508);
  padding: 1rem;
  text-align: center;
}
.main-contactos form input {
  width: 200px;
  margin: 0 auto;
}
.main-contactos form label {
  color: whitesmoke;
}
.main-contactos form #consulta {
  width: 240px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/img-bg-2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Poppins";
  overflow-x: hidden;
}

main {
  margin: 0 30px;
}
main h1 {
  margin: 4px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  color: rgba(245, 245, 245, 0.493);
}
main h1 span {
  color: rgba(255, 0, 0, 0.508);
}
@media screen and (min-width: 1024px) {
  main h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  main h1 {
    padding: 20px;
    padding-left: 450px;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.306);
  }
}
main h2 {
  color: rgb(203, 196, 196);
  text-align: center;
  padding: 3px;
  font-size: 1rem;
  text-align: center;
  border-style: dashed;
  border-color: rgba(255, 0, 0, 0.508);
}
main h2 p span {
  color: red;
}

.navbar-tablet {
  display: none;
}

header .navbar-mobile {
  background-color: rgba(255, 0, 0, 0.508);
}
header .navbar-mobile nav div div .estilos-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
header .navbar-mobile nav div div .estilos-nav li a {
  margin-left: 20px;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.341);
  background-color: transparent;
  font-family: oswald;
  text-align: center;
  font-size: 1.3rem;
}
header .navbar-mobile nav div div .estilos-nav li a:hover {
  background-color: rgba(245, 245, 245, 0.256);
  border-radius: 10px;
  padding: 10px;
}
header .navbar-mobile nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding-bottom: 10px;
}
header img {
  width: 16rem;
}

footer {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.508);
  padding: 0.5px;
}
footer .contenedor-footer {
  padding-top: 1rem;
}
footer .contenedor-footer .footer-depositos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .contenedor-footer .footer-depositos ul {
  padding-left: 0;
  padding: 0 auto;
}
footer .contenedor-footer .footer-depositos ul li {
  list-style: none;
  padding: 4px;
  font-size: 9px;
  text-align: center;
  color: rgba(245, 245, 245, 0.341);
}
footer .iconos-redes-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer .iconos-redes-footer a {
  width: 100%;
}
footer .iconos-redes-footer a img {
  opacity: 0.5;
  width: 4rem;
}
footer .iconos-redes-footer a:hover {
  background-color: rgba(245, 245, 245, 0.256);
  border-radius: 10px;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .contenido-main-clientes {
    width: 70vh;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .contenido-main-clientes {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar-mobile {
    display: none;
  }
  header .navbar-tablet {
    padding-right: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.508);
    justify-content: space-around;
  }
  header .navbar-tablet nav {
    padding-top: 20px;
    padding-left: 40px;
  }
  header .navbar-tablet nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
  }
  header .navbar-tablet nav ul .estilos-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  header .navbar-tablet nav ul .estilos-nav li a {
    margin-left: 20px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.341);
    background-color: transparent;
    font-family: oswald;
    text-align: center;
    font-size: 1.3rem;
  }
  header .navbar-tablet nav ul .estilos-nav li a:hover {
    background-color: rgba(245, 245, 245, 0.256);
    border-radius: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
  }
  header .navbar-tablet nav ul .estilos-nav {
    padding: 10px;
    padding-left: 40px;
  }
  header .navbar-tablet nav ul .estilos-nav li {
    padding-top: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 600px) {
  footer {
    padding: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  footer .contenedor-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .contenedor-footer .footer-depositos ul {
    margin-left: 20px;
  }
  footer .contenedor-footer .footer-depositos ul li {
    list-style: outside;
    text-align: start;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 6rem;
  }
  footer .contenedor-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .contenedor-footer .footer-depositos ul {
    margin-left: 5rem;
  }
  footer .contenedor-footer .footer-depositos ul li {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) {
  main .contenedor-main-index {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 80%, 20%;
    grid-template-areas: "imagen2 imagen2 imagen2" "texto1 imagen texto2";
  }
  main .contenedor-main-index .bloque-uno-main-index {
    margin: 0 auto;
    height: 100%;
    width: 45rem;
    grid-area: imagen2;
    padding-bottom: 4rem;
  }
  main .contenedor-main-index .bloque-dos-main-index, main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto1;
  }
  main .contenedor-main-index .bloque-tres-main-index {
    grid-area: imagen;
  }
  main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto2;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 50px;
  }
  main .contenedor-main-index {
    grid-template-areas: "titulo titulo  titulo" "texto1 imagen2 texto2" "camion camion camion";
    gap: 40px;
  }
  main .contenedor-main-index .bloque-uno-main-index {
    width: 50rem;
    padding-top: 10rem;
    grid-area: camion;
  }
  main .contenedor-main-index .bloque-uno-main-index div div div img {
    object-fit: cover;
  }
  main .contenedor-main-index .bloque-dos-main-index, main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto1;
  }
  main .contenedor-main-index .bloque-tres-main-index {
    grid-area: imagen2;
  }
  main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto2;
  }
}
@media screen and (min-width: 600px) {
  .contenedor-nosotros-main {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "servicios servicios mula" "servicios servicios mula" "camion camion camion";
    gap: 10px;
  }
  .contenedor-nosotros-main .bloque-uno-nosotros {
    display: none;
  }
  .contenedor-nosotros-main .bloque-dos-nosotros {
    grid-area: servicios;
    margin: auto 0;
  }
  .contenedor-nosotros-main .bloque-dos-nosotros li h3 {
    font-size: 1rem;
  }
  .contenedor-nosotros-main .bloque-dos-nosotros li p {
    font-size: 0.8rem;
  }
  .contenedor-nosotros-main .bloque-tres-nosotros {
    grid-area: mula;
  }
  .contenedor-nosotros-main .bloque-tres-nosotros img {
    object-fit: cover;
  }
  .contenedor-nosotros-main .bloque-cuatro-nosotros {
    display: inline-block;
    grid-area: camion;
  }
  .contenedor-nosotros-main .bloque-cuatro-nosotros img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 20px;
    padding: 10PX;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-nosotros-main .bloque-dos-nosotros ul {
    padding-top: 30px;
  }
  .contenedor-nosotros-main .bloque-dos-nosotros ul li h3 {
    font-size: 1.5rem;
  }
  .contenedor-nosotros-main .bloque-dos-nosotros ul li p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .contenedor-main-depositos .contenedor-depositos {
    margin-bottom: 20px;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos {
    display: flex;
    justify-content: space-evenly;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-main-depositos {
    margin-top: 20px;
    display: flex;
  }
  .contenedor-main-depositos .contenedor-depositos {
    margin-bottom: 20px;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  .main-contactos {
    width: 80%;
    margin: 0 auto;
  }
  .main-contactos input {
    width: 30rem;
    height: 2rem;
  }
  .main-contactos #consulta {
    width: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-contactos form input {
    width: 40rem;
    height: 2rem;
  }
  .main-contactos form #consulta {
    width: 40rem;
  }
}
body {
  overflow-x: hidden;
}
body main {
  overflow-x: hidden;
}
body main .contenedor-nosotros-main .bloque-dos-nosotros li img {
  animation: mover-izquierda-derecha 2s linear infinite;
}
body main .animacion-camion {
  margin-bottom: -10px;
}
body main .animacion-camion .humo {
  animation: humo 3s infinite;
  width: 120px;
}
body main .animacion-camion img {
  width: 150px;
  animation: mover-camion 3s infinite;
  position: relative;
}
body main .animacion-titulo {
  position: relative;
  animation: mover-derecha 1s alternate;
}

@keyframes mover-derecha {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes humo {
  0% {
    left: -100%;
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    left: 800px;
    opacity: 0.8;
  }
}
@keyframes mover-camion {
  0% {
    left: -100%;
  }
  100% {
    left: 800px;
  }
}
@media screen and (min-width: 1024px) {
  @keyframes humo {
    0% {
      left: -100%;
      opacity: 0.1;
    }
    20% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      left: 2000px;
      opacity: 0.8;
    }
  }
  @keyframes mover-camion {
    0% {
      left: -100%;
    }
    100% {
      left: 2000px;
    }
  }
}
@keyframes mover-izquierda-derecha {
  0% {
    left: 0;
  }
  100% {
    left: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
