@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 10px;
}
main .contenedor-main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(203, 196, 196);
  text-align: center;
}
main .contenedor-main-index .titulo-main-index {
  margin: 4px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  color: rgba(245, 245, 245, 0.493);
}
main .contenedor-main-index .titulo-main-index span {
  color: rgba(255, 0, 0, 0.508);
}
main .contenedor-main-index .bloque-uno-main-index .imagenes-index {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.508);
  padding: 10PX;
}
main .contenedor-main-index .bloque-dos-main-index, main .contenedor-main-index .bloque-cuatro-main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(203, 196, 196);
  padding: 3px;
}
main .contenedor-main-index .bloque-dos-main-index p span, main .contenedor-main-index .bloque-cuatro-main-index p span {
  color: red;
}
main .contenedor-main-index .bloque-dos-main-index .estampas-index, main .contenedor-main-index .bloque-cuatro-main-index .estampas-index {
  width: 20%;
}
main .contenedor-main-index .bloque-tres-main-index .imagenes-index {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.508);
  padding: 10PX;
}
main h1 {
  text-align: center;
  color: rgba(245, 245, 245, 0.493);
}
main h1 span {
  color: red;
}
main h2 {
  color: rgb(203, 196, 196);
  padding: 3px;
  font-size: 1rem;
  text-align: center;
  border-style: dashed;
  border-color: rgba(255, 0, 0, 0.508);
}
main h2 p span {
  color: red;
}
main .contenedor-main-nosotros .deposito-tradys-mobile img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.508);
  padding: 10PX;
  display: inline-block;
  object-fit: cover;
}
main .contenedor-main-nosotros .lista-objetivos ul {
  border-style: groove;
}
main .contenedor-main-nosotros .lista-objetivos ul li {
  list-style: none;
  padding: 0px 10px 20px 0px;
  color: rgba(245, 245, 245, 0.493);
}
main .contenedor-main-nosotros .mula-tradys img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  background-color: rgba(255, 0, 0, 0.665);
  padding: 2.5px;
  border-radius: 10px;
}
main .contenedor-main-nosotros .deposito-tradys img {
  display: none;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  background-color: rgba(255, 0, 0, 0.665);
  padding: 2.5px;
  border-radius: 10px;
}

.contenedor-main-depositos .contenedor-depositos {
  border-style: dashed;
  color: #ED1C24;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos {
  width: 100%;
  text-align: center;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos h2 {
  color: whitesmoke;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos h2 span {
  background-color: rgba(237, 28, 35, 0.2431372549);
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos ul {
  text-align: start;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos ul li {
  list-style: none;
  color: white;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos ul li span {
  color: red;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .bloque-mapa-depositos {
  color: white;
}
.contenedor-main-depositos .contenedor-depositos .contenido-depositos .bloque-mapa-depositos iframe {
  width: 100%;
  height: 100%;
  border-color: #ED1C24;
  background-color: rgba(237, 28, 35, 0.2431372549);
  padding: 20px;
  border-radius: 30px;
}

.contenido-main-clientes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/clientes-mano.jfif);
  background-size: 100%;
  opacity: 0.8;
  border-radius: 20px;
  border-style: double;
  border-color: rgba(255, 0, 0, 0.508);
  margin-top: 70px;
}
.contenido-main-clientes .contenedor-carrusel {
  opacity: 10;
}
h2 {
  color: rgb(203, 196, 196);
  padding: 3px;
  font-size: 1rem;
  text-align: center;
  border-style: dashed;
  border-color: rgba(255, 0, 0, 0.508);
}
h2 p span {
  color: red;
}

.main-contactos form {
  background-color: rgba(255, 0, 0, 0.508);
  text-align: start;
  padding: 20px;
}
.main-contactos form fieldset {
  text-align: center;
}
.main-contactos form fieldset label {
  text-align: start;
  color: rgb(203, 196, 196);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/img-bg-2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Poppins";
  overflow-x: hidden;
}

main {
  margin: 30px;
}
main h1 {
  margin: 4px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  color: rgba(245, 245, 245, 0.493);
}
main h1 span {
  color: rgba(255, 0, 0, 0.508);
}
@media screen and (min-width: 1024px) {
  main h1 {
    padding: 20px;
    padding-left: 450px;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.306);
  }
}

.navbar-tablet {
  display: none;
}

header .navbar-mobile {
  background-color: rgba(255, 0, 0, 0.508);
}
header .navbar-mobile nav div div .estilos-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
header .navbar-mobile nav div div .estilos-nav li a {
  margin-left: 20px;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.341);
  background-color: transparent;
  font-family: oswald;
  text-align: center;
  font-size: 1.3rem;
}
header .navbar-mobile nav div div .estilos-nav li a:hover {
  background-color: rgba(245, 245, 245, 0.256);
  border-radius: 10px;
  padding: 10px;
}
header .navbar-mobile nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding-bottom: 10px;
}
header img {
  width: 16rem;
}

footer {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.508);
}
footer .contenedor-footer .footer-depositos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 20px;
}
footer .contenedor-footer .footer-depositos ul {
  padding-left: 0;
  padding: 0 auto;
}
footer .contenedor-footer .footer-depositos ul li {
  padding: 4px;
  font-size: 9px;
  text-align: start;
  color: rgba(245, 245, 245, 0.341);
}
footer .iconos-redes-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer .iconos-redes-footer a {
  width: 100%;
}
footer .iconos-redes-footer a img {
  opacity: 0.5;
  width: 4rem;
}
footer .iconos-redes-footer a:hover {
  background-color: rgba(245, 245, 245, 0.256);
  border-radius: 10px;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .contenido-main-clientes {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .contenido-main-clientes {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar-mobile {
    display: none;
  }
  header .navbar-tablet {
    padding-right: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.508);
    justify-content: space-around;
  }
  header .navbar-tablet nav {
    padding-top: 20px;
    padding-left: 40px;
  }
  header .navbar-tablet nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
  }
  header .navbar-tablet nav ul .estilos-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  header .navbar-tablet nav ul .estilos-nav li a {
    margin-left: 20px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.341);
    background-color: transparent;
    font-family: oswald;
    text-align: center;
    font-size: 1.3rem;
  }
  header .navbar-tablet nav ul .estilos-nav li a:hover {
    background-color: rgba(245, 245, 245, 0.256);
    border-radius: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
  }
  header .navbar-tablet nav ul .estilos-nav {
    padding: 10px;
    padding-left: 40px;
  }
  header .navbar-tablet nav ul .estilos-nav li {
    padding-top: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 600px) {
  footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  footer .contendor-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .contendor-footer .footer-depositos ul li {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  footer .contenedor-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .contenedor-footer .footer-depositos ul {
    margin-left: 5rem;
  }
  footer .contenedor-footer .footer-depositos ul li {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) {
  main .contenedor-main-index {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 80%, 20%;
    grid-template-areas: "imagen2 imagen2 imagen2" "texto1 imagen texto2";
  }
  main .contenedor-main-index .bloque-uno-main-index {
    grid-area: imagen2;
    padding-bottom: 4rem;
  }
  main .contenedor-main-index .bloque-dos-main-index, main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto1;
  }
  main .contenedor-main-index .bloque-tres-main-index {
    grid-area: imagen;
  }
  main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto2;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 50px;
  }
  main .contenedor-main-index {
    grid-template-areas: "titulo titulo  titulo" "texto1 imagen2 texto2" "camion camion camion";
    gap: 20px;
  }
  main .contenedor-main-index .titulo-main-index {
    padding: 20px;
    padding-left: 450px;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.306);
  }
  main .contenedor-main-index .bloque-uno-main-index {
    grid-area: camion;
  }
  main .contenedor-main-index .bloque-dos-main-index, main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto1;
  }
  main .contenedor-main-index .bloque-tres-main-index {
    grid-area: imagen2;
  }
  main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto2;
  }
}
@media screen and (min-width: 630px) {
  main .contenedor-main-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    gap: 10px;
  }
  main .contenedor-main-nosotros .deposito-tradys-mobile {
    display: none;
  }
  main .contenedor-main-nosotros .deposito-tradys {
    grid-column: span 3;
    margin-bottom: 20px;
  }
  main .contenedor-main-nosotros .deposito-tradys img {
    display: inline-block;
    width: 100%;
    height: 90%;
    margin-bottom: 20px;
  }
  main .contenedor-main-nosotros .lista-objetivos {
    grid-column: span 2;
    grid-row: span 2;
  }
  main .contenedor-main-nosotros .lista-objetivos ul {
    margin-top: 20px;
  }
  main .contenedor-main-nosotros .lista-objetivos ul li {
    padding: 5px;
    font-size: large;
  }
  main .contenedor-main-nosotros .mula-tradys {
    grid-column: span 1;
    grid-row: span 2;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-main-nosotros .lista-objetivos {
    margin: 20px;
    padding-top: 50px;
  }
  .contenedor-main-nosotros .lista-objetivos ul li {
    list-style: none;
    padding: 10px 30px 20px 20px;
  }
}
@media screen and (min-width: 600px) {
  .contenedor-main-depositos .contenedor-depositos {
    margin-bottom: 20px;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos {
    display: flex;
    justify-content: space-evenly;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-main-depositos {
    margin-top: 20px;
    display: flex;
  }
  .contenedor-main-depositos .contenedor-depositos {
    margin-bottom: 20px;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contenedor-main-depositos .contenedor-depositos .contenido-depositos .contenedor-textos-depositos {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  main form {
    padding: 30px;
  }
  main form label {
    text-align: center;
  }
  main form input {
    width: 400px;
  }
  main form textarea {
    width: 400px;
    height: 200px;
  }
}
@media screen and (min-width: 1024px) {
  main form {
    padding: 30px;
  }
  main form label {
    text-align: center;
  }
  main form input {
    color: black;
    width: 500px;
  }
  main form textarea {
    width: 500px;
    height: 200px;
  }
}
body {
  overflow-x: hidden;
}
body main {
  overflow-x: hidden;
}
body main .animacion-camion {
  margin-bottom: 0;
}
body main .animacion-camion .humo {
  animation: humo 3s infinite;
  width: 120px;
}
body main .animacion-camion img {
  width: 150px;
  animation: mover-camion 3s infinite;
  position: relative;
}

@keyframes humo {
  0% {
    left: -100%;
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    left: 800px;
    opacity: 0.8;
  }
}
@keyframes mover-camion {
  0% {
    left: -100%;
  }
  100% {
    left: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
