@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 10px;
}
main .contenedor-main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}
main .contenedor-main-index .titulo-main-index h1 span {
  color: #ED1C24;
}
main .contenedor-main-index .bloque-uno-main-index .imagenes-index {
  width: 100%;
  opacity: 0.5;
  border-radius: 20px;
  background-color: rgba(237, 28, 35, 0.2784313725);
  padding: 10PX;
}
main .contenedor-main-index .bloque-dos-main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .contenedor-main-index .bloque-dos-main-index .estampas-index {
  width: 20%;
}
main .contenedor-main-index .bloque-tres-main-index .imagenes-index {
  width: 100%;
  opacity: 0.5;
  border-radius: 20px;
  background-color: rgba(237, 28, 35, 0.2784313725);
  padding: 10PX;
}
main .contenedor-main-index .bloque-cuatro-main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .contenedor-main-index .bloque-cuatro-main-index .estampas-index {
  width: 20%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/img-bg-2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.navbar-tablet {
  display: none;
}

header .navbar-mobile {
  background-color: rgba(255, 0, 0, 0.508);
}
header .navbar-mobile nav div div .estilos-nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: transparent;
}
header .navbar-mobile nav div div .estilos-nav li a {
  margin-left: 20px;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.341);
  background-color: transparent;
  font-family: oswald;
  text-align: center;
  font-size: 1.3rem;
}
header .navbar-mobile nav div div .estilos-nav li a:hover {
  background-color: rgba(245, 245, 245, 0.256);
  border-radius: 10px;
  padding: 10px;
}
header .navbar-mobile nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding-bottom: 10px;
}
header img {
  width: 16rem;
}

footer {
  position: end;
  text-align: center;
  background-color: transparent;
}
footer .footer-depositos {
  display: flex;
  margin-left: 10PX;
  padding-top: 20px;
  text-align: center;
  background-color: transparent;
}
footer .footer-depositos ul {
  padding-left: 7px;
}
footer .footer-depositos ul li {
  font-size: 10px;
  text-align: center;
  color: rgba(255, 0, 0, 0.589);
  list-style: none;
}
footer div img {
  width: 200px;
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar-mobile {
    display: none;
  }
  header .navbar-tablet {
    display: flex;
    padding-right: 20%;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.508);
    justify-content: space-between;
  }
  header .navbar-tablet nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding-bottom: 10px;
  }
  header .navbar-tablet nav ul .estilos-nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: transparent;
  }
  header .navbar-tablet nav ul .estilos-nav li a {
    margin-left: 20px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.341);
    background-color: transparent;
    font-family: oswald;
    text-align: center;
    font-size: 1.3rem;
  }
  header .navbar-tablet nav ul .estilos-nav li a:hover {
    background-color: rgba(245, 245, 245, 0.256);
    border-radius: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
  }
  header .navbar-tablet nav ul .estilos-nav {
    padding: 10px;
    padding-left: 40px;
  }
  header .navbar-tablet nav ul .estilos-nav li {
    padding-top: 20px;
    padding-left: 50px;
  }
  header .navbar-tablet nav ul .estilos-nav li a {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 600px) {
  footer {
    margin-top: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  footer .footer-depositos ul li {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer-depositos ul {
    margin-left: 5rem;
  }
  footer .footer-depositos ul li {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) {
  main .contenedor-main-index {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10%, 80%, 10%;
    grid-template-areas: "titulo titulo titulo" "imagen2 imagen2 imagen2" "texto1 imagen texto2";
  }
  main .contenedor-main-index .titulo-main-index {
    grid-area: titulo;
  }
  main .contenedor-main-index .bloque-uno-main-index {
    grid-area: imagen2;
    padding-bottom: 4rem;
  }
  main .contenedor-main-index .bloque-dos-main-index {
    grid-area: texto1;
  }
  main .contenedor-main-index .bloque-tres-main-index {
    grid-area: imagen;
  }
  main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto2;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 50px;
  }
  main .contenedor-main-index {
    grid-template-areas: "titulo titulo  titulo" "texto1 imagen2 texto2" "camion camion camion";
    gap: 20px;
  }
  main .contenedor-main-index .titulo-main-index {
    padding: 20px;
    padding-left: 450px;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.306);
  }
  main .contenedor-main-index .bloque-uno-main-index {
    grid-area: camion;
  }
  main .contenedor-main-index .bloque-dos-main-index {
    grid-area: texto1;
  }
  main .contenedor-main-index .bloque-tres-main-index {
    grid-area: imagen2;
  }
  main .contenedor-main-index .bloque-cuatro-main-index {
    grid-area: texto2;
  }
}

/*# sourceMappingURL=style.css.map */
