

/////////////////////////////////
 //       ANIMACIONES          //
/////////////////////////////////
body{
    overflow-x: hidden;

main{
    

 /////////////////////////////////
//      ANIMACION-ESTAMPAS      //
/////////////////////////////////
    .contenedor-nosotros-main{
        .bloque-dos-nosotros{
            li{
                img{
                    animation: mover-izquierda-derecha 2s linear infinite;
                }
            }
        }
    }

 /////////////////////////////////
//      ANIMACION-CAMION       //
/////////////////////////////////
    .animacion-camion{
    margin-bottom:-10px;
    .humo{
        animation: humo 3s infinite;
        width: 120px;
       
    }
    img{ 
        width: 150px;
        animation: mover-camion 3s infinite;
        position: relative;
              
    }
    


}
 /////////////////////////////////
//      ANIMACION-TITULO       //
/////////////////////////////////
    .animacion-titulo{
        position: relative;
        animation: mover-derecha 1s  alternate;
    }

}
}

@keyframes mover-derecha{
    0% {
        left: -100%;
      }
      100% {
        left: 0%;
      }
}
@keyframes humo {
    0%{
        left: -100%;
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    50%{
        opacity:0.6;
    }
    100%{
        left: 800px;
        opacity:0.8;
    }
}

@keyframes mover-camion {
0%{
   left: -100%;
}

 100%{
    left: 800px;
  }

}
@media screen and (min-width:1024px){
   @keyframes humo {
0%{
    left: -100%;
    opacity: 0.1;
}
20%{
    opacity: 0.2;
}
50%{
    opacity:0.6;
}
100%{
    left: 2000px;
    opacity:0.8;
}


}
   
    @keyframes mover-camion {
        0%{
           left: -100%;
        }
        
         100%{
            left: 2000px;
          }
        
        }
  }
@keyframes mover-izquierda-derecha {
    0% {
        left: 0; 
    }
    100% {
        left: 60%;
    }
}
