  //////////////////////////////////
 //    ESTILOS NOSOTROS - TABLET //
//////////////////////////////////
@media screen and (min-width:600px) {
         .contenedor-nosotros-main{
            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: repeat(3,33%);
            grid-template-areas:
            "servicios servicios mula"
            "servicios servicios mula"
            "camion camion camion";
            gap: 10px;
            .bloque-uno-nosotros{

                display: none;
            }
            .bloque-dos-nosotros{
                grid-area: servicios;
                margin: auto 0;
                li{
                    h3{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
            }

            .bloque-tres-nosotros{
                grid-area: mula;
                img{
                    object-fit: cover;
                }
            }
            .bloque-cuatro-nosotros{
                display: inline-block;
                grid-area: camion;
                img{
                    @include imagenes;
                }

            }
         }

}


  //////////////////////////////////
 //    ESTILOS NOSOTROS - DESTOKP //
//////////////////////////////////
@media screen and (min-width:1024px) {
    
        .contenedor-nosotros-main{
            .bloque-dos-nosotros{
               ul{
                    padding-top: 30px;
                li{
                     h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
                
               }}
            }
      
        }
    }