  ///////////////////////////////
 //    ESTILOS INDEX - TABLET //
///////////////////////////////
@media screen and (min-width:600px) {

    main{

        form{
            padding:30px;
            label{
                text-align: center;
           }
           input{
            width: 400px;
           }
           textarea{
            width: 400px;
            height: 200px;
           }
        }
    }
}
  ///////////////////////////////
 //   ESTILOS INDEX - DESTOKP //
///////////////////////////////
 @media screen and (min-width:1024px) {

    main{

        form{
            padding:30px;
            label{
                text-align: center;
           }
           input{
            color: black;
            width: 500px;
           }
           textarea{
            width: 500px;
            height: 200px;
           }
        }
    }

 }
