  ///////////////////////////////
 //    ESTILOS FOOTER-TABLET  //
///////////////////////////////
@media screen and (min-width:600px) {
    footer{
      
        padding: 20px;
        margin-top:-0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .contenedor-footer{
            display: flex;
            flex-direction: row-reverse;
        
        .footer-depositos{ 
            ul{
                margin-left: 20px;
                li{
                    list-style: outside;
                    text-align: start;
                    font-size:0.6rem;
                }
            }
         }
    }
}
}
  /////////////////////////////////
 //    ESTILOS FOOTER-DESTOKP   //
/////////////////////////////////
@media screen and (min-width:1024px) {
    footer{
        margin-top: -3rem;
        .contenedor-footer{
           display: flex;
           flex-direction: row-reverse;
           .footer-depositos{ 
            ul{
                margin-left: 5rem;
            
                li{
                    font-size: 17px;
                }
            }
         }
    
    }
 }
}