  ///////////////////////////////
 //    ESTILOS INDEX - TABLET //
///////////////////////////////
@media screen and (min-width:600px) {
    .main-contactos{
        width: 80%;
        margin: 0 auto;
        input{
            width: 30rem;
             height: 2rem;
        }
        #consulta{
            width: 30rem;
        }

    }
}
  ///////////////////////////////
 //   ESTILOS INDEX - DESTOKP //
///////////////////////////////
 @media screen and (min-width:1024px) {

    .main-contactos{
        form{
            input{
                width: 40rem;
                 height: 2rem;
            }
            #consulta{
                width: 40rem;
            }
            
        }
    }
}
