
  /////////////////////////////////
 //        MAIN CONTACTOS       //
/////////////////////////////////

.main-contactos{
    form{
    background-color: $color-tradys;
    padding: 1rem;  
    text-align: center;
        input{
            
            width: 200px;
            margin: 0 auto;
        }
        label{
            color:whitesmoke;
          
        }
          #consulta{
                width: 240px;
            }
    }
    }
    