
  /////////////////////////////////
 //        MAIN CONTACTOS       //
/////////////////////////////////
h2{
    @include sub-titulos;
}
.main-contactos{
    form{
    background-color: $color-tradys;
    padding: 1rem;  
    text-align: center;
        label{
            color:whitesmoke;
        
        }
    }
    }
    