
  /////////////////////////////////
 //        MAIN CONTACTOS       //
/////////////////////////////////
h2{
    @include sub-titulos;
}
.main-contactos{
    form{
    background-color: $color-tradys;
    text-align: start;  
    padding: 20px;  
    fieldset{
        text-align: center;
        label{
            text-align: start;
            color: $color-textos;
        }
    }
    }
    }