  ////////////////////////////
 //        MAIN HOME       //
////////////////////////////
main{
    padding: 10px;
    .contenedor-main-index{
        @include flex-center;
        flex-direction: column;
        color:$color-textos;
        text-align: center;
        .titulo-main-index{
            @include titulos;
        }
     
        .bloque-uno-main-index{
            div{
                div{
                    div{
                        img{
                            @include imagenes;
                      
                        }
                    }
                }
            }
        }
        .bloque-dos-main-index{
            @include flex-center;
            flex-direction: column;
            @include parrafos;
            
        .estampas-index{
                width: 20%;
            }
        
        }
        .bloque-tres-main-index{
            .imagenes-index{
             @include imagenes;
            }
        }
        .bloque-cuatro-main-index{
           @extend .bloque-dos-main-index;
         
        }    
    }
}