  ///////////////////////////////
 //        MAIN NOSOTROS      //
///////////////////////////////

.contenedor-nosotros-main{
    .bloque-cuatro-nosotros{
        display: none;
    }
    .bloque-uno-nosotros{
       
        img{
            @include imagenes;
            width: 100%;
        }
    }
    .bloque-dos-nosotros{
        border-style: solid;
        border-color: rgb(151, 147, 147);
        padding: 10px;
        
 
        li{
            display: grid;
            grid-template-columns: 10% 90%;
            grid-template-areas: 
            "estampa servicio"
            "descripcion descripcion";
            img{
            position: relative;
            display: inline-block;
             grid-area: estampa;
             width: 1rem;

            }
            h3{
                font-size: 1rem;
                text-decoration: underline;
                text-align: start;
                grid-area: servicio;
               color: white;
            }
            p{
                font-size: 0.8rem;
                grid-area: descripcion;
                color: $color-textos;
                }
            }
        }
    }
    .bloque-tres-nosotros{
        img{
            @include imagenes;
            width: 100%;
        }
    }

